* {
  margin: 0px;
  padding: 0px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disappear {
  animation: vanish 3s forwards;
}
@keyframes vanish {
  100% {
    opacity: 1.5;
    visibility: hidden;
  }
}

td {
  text-align: center;
  vertical-align: middle;
}

#mainTBL {
  margin-top: 5rem;
  margin-left: 2rem;
}

#tableOne {
  margin-top: 5rem;
}

#tableTwo {
  display: none;
  justify-items: center;
}

#tableThree {
  display: none;
  justify-items: center;
}
#tableFour {
  display: none;
  justify-items: center;
}
#tableFive {
  display: none;
  justify-items: center;
}
#tableSix {
  display: none;
  justify-items: center;
}
#tableSeven {
  display: none;
  justify-items: center;
}
